.c-app-content__container-left {
  width: 50%;
}

.c-app-content__container-left-inner {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  padding-right: 4rem;
}

.c-app-content__container-right {
  width: 50%;
}

.c-app-content__container-right-inner {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  padding-right: 4rem;
}