/**
 * Button
 *
 * @since 1.0.0
 */

 .c-button {
  @include transition();
  $root: &;
  color: $white;
  fill: $white;
  background: $theme-color-3;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  font-size: rem-calc(15);
  font-family: $primary-font-family;
  border-radius: $radius-large;
  display: inline-block;
  padding: 1.25rem 2rem;
  font-weight: 600;
  position: relative;

  @include breakpoint(medium) {
    font-size: rem-calc(15);
    padding: 1.25rem 2rem;
  }

  .hs-cta-wrapper,
  .hs-cta-node,
  a {
    vertical-align: baseline;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 4;
  }

  // Hover
  &:hover {
    #{$root}__icon--move-right {
      transform: translateX(0.25rem);
    }
    #{$root}__icon--move-left {
      transform: translateX(-0.25rem);
    }
    #{$root}__icon--move-down {
      transform: translateY(0.25rem);
    }
    #{$root}__icon--move-up {
      transform: translateY(-0.25rem);
    }
  }

  // Icon
  &__icon {
    @include transition(transform);
    @include square(0.85rem);
    margin-bottom: 1px; // v-align
    margin-left: 0.5rem;

    &--left {
      margin-right: 0.5rem;
      // margin-left: 0;
      // @include square(2rem);
    }

    .body-container--landingspage & {
      display: none;
    }
  }

  // Styles
  &--primary,
  &--primary_target,
  &--primary_target_up,
  &--primary_submit {
    background: $gradient-65deg;
    color: $white;
    fill: $white;
    border: 0;
    overflow: hidden;

    &::after {
      @include absolute();
      @include transition();
      content: '';
      background: $gradient-65deg;
      border-radius: $radius-large;
      z-index: 1;
      opacity: 1;
    }

    &::before {
      transition: all 0.3s;
      content: '';
      background: $white;
      width: 0.25rem;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      opacity: 1;
      box-shadow: 0 0 10px 10px $white;
      transform: skew(-15deg) translateX(-400%);
      pointer-events: none;
    }

    #{$root}__content,
    #{$root}__icon {
      position: relative;
      color: $white;
      z-index: 3;
    }

    &:hover {
      background: $gradient-2-bottom;
      color: $white;
      fill: $white;

      #{$root}__content {
        color: $white;
      }

      &::after {
        opacity: 0;
      }

      &::before {
        left: 100%;
        transform: translateX(400%) skew(-15deg);
      }
    }
  }

  &--primary_submit {
    width: rem-calc(136);
  }

  &__content {
    justify-content: center;
  }

  &--black {
    @include button($black, $dark-gray);
  }

  &--white-border {
    color: $white;
    fill: $white;
    background-color: transparent;
    border-color: $white;

    &:hover,
    &:active {
      color: $black;
      fill: $black;
      background-color: $white;
      border-color: $white;
    }
  }

  &--clean {
    position: relative;
    background-color: transparent;
    border: 0;
    color: $almost-black;
    fill: $almost-black;
    padding: 0;
    border-radius: 0;

    &:hover {
      background-color: transparent;
      color: $almost-black;
      fill: $almost-black;
    }

    // line
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: $almost-black;
      transition: all 0.25s linear 0s;
    }
    &:hover::before {
      width: 100%;
    }
  }

  &--white {
    color: $black;
    fill: $black;
    background-color: $white;
    border-color: $white;

    &:hover,
    &:active {
      color: $white;
      fill: $white;
      background-color: $black;
      border-color: $black;
    }
    @include breakpoint(small only) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }

  &--border {
    color: $black;
    fill: $black;
    background-color: $white;
    border-color: $black;

    &:hover,
    &:active {
      color: $white;
      fill: $white;
      background-color: $black;
      border-color: $black;
    }
  }

  &--transparent {
    background: transparent;
    color: $almost-black;
    fill: $almost-black;
    border: 1px solid $almost-black;

    &:hover {
      color: $black;
      fill: $black;
    }
  }

  &--secondary {
    background: $almost-black;
    color: $white;
    fill: $white;

    #{$root}__content {
      color: $white;
    }

    &:hover {
      color: $white;
      fill: $white;
      background: $almost-black;

      #{$root}__content {
        color: $white;
      }
    }
  }

  &--tertiary_gradient,
  &--tertiary {
    padding: 0;
    background: transparent;
    border-radius: 0;
    font-size: rem-calc(16);
    transition: 0.3s;
    color: $almost-black;

    #{$root}__content {
      color: $almost-black;
      fill: $almost-black;
    }

    #{$root}__icon {
      fill: $almost-black !important;
    }
  }

  &--tertiary-white-left,
  &--tertiary-white {
    padding: 0;
    background: transparent;
    border-radius: 0;
    font-size: rem-calc(16);
    transition: 0.3s;
    color: $white;

    #{$root}__content {
      color: $white;
      fill: $white;
    }

    #{$root}__icon {
      fill: $white !important;
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }

  &-width {
    &--s {
      width: 150px;
    }
  }
}
