/**
 * Icon component
 *
 * @since 1.0.0
 */

.c-icon {
  vertical-align: middle;
  fill: inherit;
  stroke: inherit;
  margin-top: -1px;

  &--xsmall {
    @include square(0.75rem);
  }
  &--small {
    @include square(1rem);
  }
  &--medium {
    @include square(1.25rem);
  }
  &--large {
    @include square(1.5rem);
  }
  &--xlarge {
    @include square(1.75rem);
  }

  &--spinner {
    animation: spin 2s linear infinite;
  }
}
