.c-table-row {
    &__content-container {
        width: calc(100% - 140px);
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: $light-blue-gray-alt;
        margin-top: rem-calc(24);
        margin-bottom: rem-calc(24);
    }

    &__title-container {
        width: calc(50% - 80px);
    }

    &__value-container {
        margin-right: auto;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        margin-right: 48px;
    }

    &__value {
        font-size: 16px;
        font-weight: 300;
    }

    &__button-container {
        margin-left: auto;
    }
}