.v-template {
    height: 100vh;

    &__background-color--light-blue {
      background-color: $light-blue;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        position: relative;
      
        @include breakpoint(small only) {
          padding: 0 1rem;
        }
        @include breakpoint(medium only) {
          padding: 0 2rem;
        }
      
        @include breakpoint(large) {
          width: 92.5%;
          max-width: rem-calc(1440);
        }
    }

    &__squeeze {
        margin: 0 auto;
        max-width: 600px;
    }

    &__header-container {
        padding: 8px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $almost-black;
        height: 65px;
    }

    &__header-logo {
      margin-left: 18px;
      height: 48px;
    }

    &__header-title {
      color: $white;
      margin-right: 35px;
      font-size: 500;
    }
    
    &__seperator {
        height: 8px;
        background-image: $gradient;
    }

    &__image-container {
        height: 260px;
        background-image: url('../../images/Install-script-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: scaleX(-1);
    }

    &__content-container {
      padding: 25px 50px 50px 50px;
    }

    &__content-paragraph {
      color: $almost-black;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      line-height: 1.5rem;
      font-size: 16px;
      font-weight: 300;
    }

    &__content-code {
      color: $almost-black;
      text-align: center;
      margin-top: 20px;
      font-weight: 500;
      font-size: 22px;
    }

    &__content-title {
      font-size: 38px;
    }

    &__footer {
      background-color: $almost-black;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__footer-container {
      margin: 20px;
      width: 560px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__footer-logo {
      height: 68px;
      margin-bottom: 25px;
      margin-top: 20px;
    }

    &__footer-paragraph {
      width: 500px;
      color: $white;
      line-height: 1.5rem;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }

    &__socials-container {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
    }

    &__social-ref {
      margin-right: 15px;

      &:last-child {
        margin-right: 0px
      }
    }

    &__socials-item {
      width: 100%;
      height: 25px;
    }

    &__seperator-line {
        width: 100%;
        height: 0.5px;
        background-color: $white;
        margin-top: rem-calc(25);
        margin-bottom: rem-calc(25);
    }

    &__links-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 25px;
    }

    &__links-item {
      color: $white;
      font-size: 14px;
      font-weight: 300;
      text-decoration: underline;
      margin-right: 5px;
      
      &:last-child {
        margin-right: 0px
      }
    }

    &__word-seperator {
      color: $white;
      font-size: 14px;
      font-weight: 300;
      margin-right: 5px;
    }

    &__footer-address {
      color: $white;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 25px;
    }
}