.u-bg-color {
  &--white {
    background-color: $white;
  }
  &--gray {
    background-color: $gray;
  }
  &--black {
    background-color: $black;
  }
  &--almost-black {
    background-color: $almost-black;
  }
  &--dark-gray {
    background-color: $dark-gray;
  }
  &--light-gray {
    background-color: $light-gray;
  }
  &--lightest-gray {
    background-color: $light-blue;
  }
  &--light-blue-gray {
    background-color: $white-gray;
  }
  &--light-blue-gray-alt {
    background-color: $light-blue-gray-alt;
  }
  &--theme-color-1 {
    background-color: $theme-color-1;
  }
  &--theme-color-2 {
    background-color: $theme-color-2;
  }
  &--theme-color-3 {
    background-color: $theme-color-3;
  }
  &--theme-color-4 {
    background-color: $theme-color-4;
  }
  &--theme-color-5 {
    background-color: $theme-color-5;
  }

  &--gradient {
    background: $gradient-45deg;
  }
  &--white-gray {
    background-color: $white-gray;
  }

  &--gradient-animation-v {
    &::before {
      position: absolute;
      content: '';
      width: 160%;
      height: 160%;
      left: -30%;
      top: -30%;
      background: linear-gradient(-45deg, #f59f1c, #ffa554, #ffcc2a, #f59f1c);
      animation: gradient 4s ease infinite;
      background-size: 200% 200%;
    }
  }

  &--gradient-animation-h {
    &::before {
      position: absolute;
      content: '';
      width: 300vw;
      height: 300vw;
      left: -150vw;
      top: -150vw;
      background: linear-gradient(-45deg, #f59f1c, #ffa554, #ffcc2a, #f59f1c);
      animation: gradient 4s ease infinite;
      background-size: 300vw 300vw;
    }
  }

  &--gradient-animation-h-on-medium-down {
    &::before {
      position: absolute;
      content: '';
      width: 300%;
      height: 200%;
      left: -50%;
      top: -50%;
      background: linear-gradient(-45deg, #f59f1c, #ffa554, #ffcc2a, #f59f1c);
      animation: gradient 4s ease infinite;
      background-size: 200% 200%;
    }

    @include breakpoint(medium down) {
      &::before {
        position: absolute;
        content: '';
        width: 160vw;
        height: 160vw;
        left: -50%;
        top: -50%;
        background: linear-gradient(-45deg, #f59f1c, #ffa554, #ffcc2a, #f59f1c);
        animation: gradient 4s ease infinite;
        background-size: 200% 200vw;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
    transform: rotate(55deg);
  }
  100% {
    background-position: 0% 50%;
  }
}
