.u-pad {
  /**
  * Padding xxxlarge
  */
  &--xxxxl {
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
  }
  &--top-xxxxl {
    padding-top: 9.375rem;
  }
  &--bot-xxxxl {
    padding-bottom: 9.375rem;
  }

  /**
  * Padding xxxlarge
  */
  &--xxxl {
    padding-top: 7.8125rem;
    padding-bottom: 7.8125rem;
  }
  &--top-xxxl {
    padding-top: 7.8125rem;
  }
  &--bot-xxxl {
    padding-bottom: 7.8125rem;
  }

  /**
  * Padding xxlarge
  */
  &--xxl {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
  &--top-xxl {
    padding-top: 6.25rem;
  }
  &--bot-xxl {
    padding-bottom: 6.25rem;
  }

  /**
  * Padding xlarge
  */
  &--xl {
    padding-top: 4.6875rem;
    padding-bottom: 4.6875rem;
  }
  &--top-xl {
    padding-top: 4.6875rem;
  }
  &--bot-xl {
    padding-bottom: 4.6875rem;
  }

  /**
  * Padding large
  */
  &--l {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  &--top-l {
    padding-top: 3.125rem;
  }
  &--bot-l {
    padding-bottom: 3.125rem;
  }

  /**
   * Padding medium
   */
  &--m {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
  }
  &--top-m {
    padding-top: 1.5625rem;
  }
  &--bot-m {
    padding-bottom: 1.5625rem;
  }

  /**
   * Padding small
   */
  &--s {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  &--top-s {
    padding-top: 0.625rem;
  }
  &--bot-s {
    padding-bottom: 0.625rem;
  }

  /**
   * Padding xsmall
   */
  &--xs {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }
  &--top-xs {
    padding-top: 0.3125rem;
  }
  &--bot-xs {
    padding-bottom: 0.3125rem;
  }
}
