.hs-form .hs-form-booleancheckbox-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1.2;
  font-size: rem-calc(16);

  p {
    line-height: 1;
    font-size: rem-calc(16);
    font-weight: 400;
  }

  > input[type='checkbox'] {
    position: relative;
    display: none;

    &:checked + span::after {
      background-image: url('https://f.hubspotusercontent00.net/hubfs/248909/Template/check-white.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 0.8rem 0.8rem;
    }

    &:checked + span::before {
      background: $almost-black;
      border-color: $almost-black;
    }

    &:disabled + span::before {
      background: $input-disabled;
    }
  }

  > span {
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    margin-left: 0 !important; //reset hubspot
    min-height: 1.375rem; //match square size
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.4;
    font-weight: 400;
    font-size: rem-calc(16);
    color: $almost-black;

    // fake input
    &::before {
      @include square(1.25rem); //match label height
      @include transition(all);
      position: absolute;
      background: $white;
      border: 1px solid $almost-black;
      content: '';
      left: 0;
      top: 0;
    }

    // checkbox
    &::after {
      @include square(0.8rem);
      content: '';
      position: absolute;
      left: 4px;
      top: 3px;

      @supports (-ms-ime-align: auto) {
        // Edge
        left: 3px;
        top: 4px;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        // IE11
        left: 3px;
        top: 4px;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

.hs-form {
  .legal-consent-container {
    .hs-error-msg {
      text-align: left;
    }
  }
}

.hs-form .inputs-list {
  list-style: none;

  li {
    &::before {
      display: none;
    }
  }
}
