.hs-form {
  .hs-fieldtype-file {
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    label {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      font-size: rem-calc(16);
      color: $gray;
      min-height: 2.5rem;
      line-height: 2.5rem;
      border-bottom: 1px solid $light-gray;

      &::after {
        cursor: pointer;
        display: inline-block;
        content: 'ZOEK BESTAND';
        font-size: rem-calc(14);
        font-weight: 700;
        color: $almost-black;
        margin-left: 0.5rem;
      }
    }
  }
}
