.hs-form .hs-submit {
  margin-top: 2rem;
  border-radius: $radius-large;
  position: relative;

  .actions {
    position: relative;
    z-index: 3;
  }

  &::before,
  &::after {
    @include absolute();
    @include transition();
    content: '';
    background: $almost-black;
    border-radius: $radius-large;
    z-index: 2;
    opacity: 1;
  }

  &::after {
    background: $gradient-bottom;
    z-index: 1;
  }

  &:hover {
    &::before {
      opacity: 0;
    }
  }

  .hs-button {
    @include transition();
    $root: &;
    background: transparent;
    color: $white;
    fill: $white;
    border: 0;
    outline: 0;
    appearance: none;
    border-radius: $radius-large;
    -webkit-appearance: none;
    cursor: pointer;
    line-height: 1;
    font-size: rem-calc(18);
    font-family: $primary-font-family;
    display: inline-block;
    padding: 1rem 1.25rem;
    font-weight: 700;
    position: relative;
    width: 100%;
    text-align: center;

    @include breakpoint(medium) {
      font-size: rem-calc(14);
      padding: 1rem 2rem;
    }

    @include breakpoint(medium) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}
